mixin {{ dashCase name }}(title, mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +{{ dashCase name }}()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .{{dashCase name}}.{{dashCase name}}-wrap

  //.{{dashCase name}}-wrap
