.header{
  .logo{
    max-width: 120px;
  }
  .menu-site{
    z-index: 3;
    .menu-ctl{
      min-width: 202px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      .fa-angle-up{
        background-color: $color-orange-2;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        color: #ffffff;
        transition: transform .1s;
      }
      &.collapsed{
        .fa-angle-up{
          transform: rotate(180deg);
          transition: transform .1s;
        }
      }
    }
    .menu{
      ul{
        &>li{
          height: 40px;
          min-width: 200px;
          transition: background .2s;
          &:hover{
            background: $color-gray-2;
          }
        }
      }
      .user-lock-selection{
        line-height: 18px;
      }
    }
  }
  .search{
    height: 40px;
    width: 40PX;
    border : 1px solid $color-orange-2;
    line-height: 40px;
    text-align : center;
    border-radius: 4px;
    cursor: pointer; 
    transition : all .2s;
    &:hover{
      background-color: $color-orange-2;
      .fa-search{
        color: #ffffff;
      }
    }
    .fa-search{
      color : $color-orange-2;
    }
  }
  .destination-search{
    background-color: $color-black;
    .frm-search{
      width: 1000px;
      button{
        background-color: $color-orange;
      }
    }
  }
}

.subheader {

}


