/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Metric;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}

a {
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
  border: none;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}

.disable{
  display: none;
}

@for $i from 10 through 50 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.truncate-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}