/* ==============================================================

Project:	xxx - Creative Coming Soon Template
Info:		https://themeforest.net/item/xxx
Version:	1.0
Author:		3F-Team
Profile:	https://themeforest.net/user/3ftheme

-----------------------------------------------------------------
					*** TABLE OF CONTENTS ***
-----------------------------------------------------------------

	1.	Fonts
	2.	General
	3.	xxx
	4.	xxx
	5.	xxx
	6.	xxx
	7.	xxx
	8.	xxx
	8.	xxx
	9.  xxx
	10.	xxx
	11.	xxx
	12.	xxx

=============================================================*/
