//- Ex: $colorBg: #fff;
//- Use: background: $colorBg;

$color-blue: #213c60;
$color-orange: #fdc131;
$color-orange-2: #ee7b23;
$color-black : #414141;
$text-color: #2a2c2b;
$text-gray : #a79d97;
$color-gray : #f4f4f4;
$color-gray-2 : #e0dfdf;